/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	font-family: 'Yanone Kaffeesatz','sans-serif';
}

.full {
  background: url("../images/index_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#itchlink {
	font-size: 30px !important;
}

iframe {
	margin-top: 10%;
}